<ion-view title="Home" id="page2">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-clipboard"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list>
      <ion-toggle toggle-class="toggle-balanced" ng-model="autoOrdering"
        ng-click="toggleOrder()" id="home-toggle1">Enable Auto
        Ordering</ion-toggle>
    </ion-list>
    <ion-list id="home-list3">
      <ion-item class="item-divider" id="home-list-item-divider3"> Completed
        Orders</ion-item>
      <ion-item class="item-avatar item-icon-right balanced"
        id="home-list-item5">
        <img src="img/WwDAhDmXQ9iOWEPYTVUh_Turbines.jpg">
        <h2balanced>Turbine
          <p>Delivered</p>
          <i class="icon ion-android-done-all"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-avatar item-icon-right balanced"
        id="home-list-item6">
        <img src="img/QvX9DdfCTd6uxogGO8JM_dieselengine.jpg">
        <h2balanced>Engine
          <p>Delivered</p>
          <i class="icon ion-android-done-all"></i>
        </h2balanced>
      </ion-item>
      <div ng-if="orderReceived">
        <ion-item class="item-divider" id="home-list-item-divider1"> Ongoing
          Orders</ion-item>
        <ion-item class="item-avatar item-icon-right energized"
          id="home-list-item3">
          <img
            src="img/M59JhZQzRjKUnxNVGs1N_lhp-std-induction-motor-500x500.jpg">
          <h2energized>Motor
            <p style="white-space:normal;">Quantity : 2</p>
            <i class="icon ion-android-alarm-clock"></i>
          </h2energized>
        </ion-item>
        <ion-item class="item-avatar item-icon-right energized"
          id="home-list-item4">
          <img src="img/pzB8mGJ9TJmaBsa0zlSP_UTGE-3505_Vacuum_Pump.jpg">
          <h2energized>Vacuum Pump
            <p style="white-space:normal;">Quantity : 1</p>
            <i class="icon ion-android-alarm-clock"></i>
          </h2energized>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>