<ion-view title="Inventory" id="page3">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-globe"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="inventory-list4">
      <ion-item class="item-icon-right assertive" id="inventory-list-item10">Valves
        <i class="icon ion-android-alert"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="inventory-list-item11">Piston
        <i class="icon ion-android-checkmark-circle"></i>
      </ion-item>
      <ion-item class="item-icon-right assertive" id="inventory-list-item12">Fly
        Wheel
        <i class="icon ion-android-alert"></i>
      </ion-item>
    </ion-list>
    <ion-list id="inventory-list5">
      <ion-item class="item-icon-right balanced" id="inventory-list-item13">Connecting
        Rods
        <i class="icon ion-android-checkmark-circle"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="inventory-list-item14">Nuts
        &amp; Bolts
        <i class="icon ion-android-checkmark-circle"></i>
      </ion-item>
      <ion-item class="item-icon-right energized" id="inventory-list-item15">Bearings
        <i class="icon ion-android-stopwatch"></i>
      </ion-item>
      <ion-item class="item-icon-right positive" id="inventory-list-item16">Lubricants
        <i class="icon ion-android-checkmark-circle"></i>
      </ion-item>
    </ion-list>
    <button id="inventory-button1" ng-if="!placeAutoOrder"
      ng-click="autoOrder()"
      class="button button-calm button-block">Place Order</button>
  </ion-content>
</ion-view>