<ion-view title="Login" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="login-form2" class="list">
      <label class="item item-input" id="login-input3">
        <span class="input-label">User Name</span>
        <input type="text" placeholder="johndoe@abc.com">
      </label>
      <label class="item item-input" id="login-input4" name="password">
        <span class="input-label">Password</span>
        <input type="password" placeholder="******">
      </label>
    </form>
    <a ui-sref="tabsController.home()" id="login-button4" class="button button-positive button-block">Login</a>
  </ion-content>
</ion-view>