<ion-view title="Order Confirmation" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="orderConfirmation-card22">
      <div class=" item item-image">
        <img src="img/PKN9S37nT0GGVyeQltLw_success-icon-300x300.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="orderConfirmation-list-item-container5">
        <div id="orderConfirmation-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Order Placed Sucessfully!</p>
        </div>
      </div>
    </div>
    <a ui-sref="tabsController.orders()" id="orderConfirmation-button3" class="button button-positive button-block">View Order</a>
  </ion-content>
</ion-view>