<ion-view title="Orders" id="page4">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-home"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="orders-card21">
      <ion-item class="item-divider" id="orders-list-item-divider5"> Ongoing Orders</ion-item>
      <ion-item class="item-divider" id="orders-list-item-divider4"> Order - 1490086</ion-item>
      <ion-item class="item-avatar" id="orders-list-item19">
        <img src="img/wLN7foh0QompnfrW8heW_61d5xDEUWqL._SX425_.jpg">
        <h2>Flywheel</h2>
        <p>Quantity : 3</p>
      </ion-item>
      <ion-item class="item-avatar" id="orders-list-item21">
        <img src="img/3lsxcbmQSSibIwdoq66z_valves.jpg">
        <h2>Valves</h2>
        <p>Quantity : 5</p>
      </ion-item>
      <ion-item id="orders-list-item22">
        <span class="item-note">Total : 2000 USD</span>
      </ion-item>
      <ion-item class="item-divider" id="orders-list-item-divider6"> Completed Orders</ion-item>
      <ion-item id="orders-list-item27">Lubricants
        <span class="item-note">Quantity : 3</span>
      </ion-item>
      <ion-item id="orders-list-item28">Pistons
        <span class="item-note">Quantity : 2</span>
      </ion-item>
      <ion-item id="orders-list-item29">Connecting Rods
        <span class="item-note">Quantity : 10</span>
      </ion-item>
    </div>
  </ion-content>
</ion-view>