<ion-view title="Cart" id="page3">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-home"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="cart-list1">
      <ion-item id="cart-list-item8">Motor
        <span class="item-note">2 * 3500 USD</span>
      </ion-item>
      <ion-item id="cart-list-item15">Vacuum Pump
        <span class="item-note">1 * 4250 USD</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 100px;"></div>
    <ion-list id="cart-list3">
      <ion-item id="cart-list-item16">
        <span class="item-note">Total : 11,250 USD</span>
      </ion-item>
    </ion-list>
    <a ng-click="checkout()" id="cart-button7" class="button button-positive
      button-block">Checkout</a>
  </ion-content>
</ion-view>