<ion-view title="Home" id="page2">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-cart"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="home-card21">
      <ion-item class="item-icon-left item-icon-right" id="home-list-item3">
        <i class="icon No Icon"></i>Motor
        <i class="icon ion-android-add"></i>
      </ion-item>
      <div class="item item-image">
        <img src="img/uokPcQwQAGEt3u4RU586_lhp-std-induction-motor-500x500.jpg"
          style="display: block; width: 100%; height: auto; margin-left: auto;
          margin-right: auto;">
      </div>
      <ion-item class="item-icon-right" id="home-list-item5">3500.00 USD
        <i class="icon ion-android-cart"></i>
      </ion-item>
    </div>
    <div class="list card" id="home-card22">
      <ion-item class="item-icon-left item-icon-right" id="home-list-item6">
        <i class="icon No Icon"></i>Vacuum Pump
        <i class="icon ion-android-add"></i>
      </ion-item>
      <div class="item item-image">
        <img src="img/UAOHp6odTueQ5cyyZxEF_UTGE-3505_Vacuum_Pump.jpg"
          style="display: block; width: 100%; height: auto; margin-left: auto;
          margin-right: auto;">
      </div>
      <ion-item class="item-icon-right" id="home-list-item7">4250.00 USD
        <i class="icon ion-android-cart"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>