<ion-view title="Order Confirmation" id="page5">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-home"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/GwovbhWgT2CU6HLfeR07_success-icon-300x300.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="tabsController.orders()" id="orderConfirmation-button8" class="button button-positive button-block">View Orders</a>
  </ion-content>
</ion-view>