<ion-view title="Orders" id="page4">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-home"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-cart"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="orders-list4">
      <ion-item class="item-icon-right" id="orders-list-item17">O-2345345
        <i class="icon ion-android-done-all"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="orders-list-item18">O-3453455
        <i class="icon ion-android-alert"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="orders-list-item19">O-1439084
        <i class="icon ion-android-done-all"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>